:root {
  --clr-cyan: hsl(176, 50%, 47%);
  --clr-darkcyan: hsl(176, 72%, 28%);
  --clr-black: hsl(0, 0%, 0%);
  --clr-gray: hsl(0, 0%, 48%);
  --clr-white: hsl(0, 0%, 100%);
  --font-sm: 0.875rem;
  --font-md: 1rem;
  --font-lg: 1.125rem;
}

html {
  box-sizing: border-box;
  font-size: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  line-height: 1.3;
  font-family: "Commissioner", sans-serif;
  font-weight: normal;
  font-size: var(--font-sm);
}
body.no-scroll {
  overflow: hidden;
}
@media only screen and (min-width: 40em) {
  body {
    font-size: var(--font-md);
  }
}
@media only screen and (min-width: 64em) {
  body {
    font-size: var(--font-lg);
  }
}

li {
  list-style: none;
}

ul {
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  padding: 0;
  margin: 0;
}

.flex {
  display: flex;
}
.flex-jc-sb {
  justify-content: space-between;
}
.flex-jc-c {
  justify-content: center;
}
.flex-ai-c {
  align-items: center;
}
.flex-fd-c {
  flex-direction: column;
}

@media only screen and (max-width: 63.9375em) {
  .hide-for-mobile {
    display: none;
  }
}

@media only screen and (min-width: 64em) {
  .hide-for-desktop {
    display: none;
  }
}

.u-wrapper {
  padding: 0 1.5em;
}

.u-copy {
  line-height: 1.8;
  color: var(--clr-gray);
}

.btn {
  padding: 1.1875rem 0;
  min-width: 14rem;
  display: inline-block;
  border-radius: 100vw;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
}

.btn-primary {
  background-color: var(--clr-cyan);
  color: var(--clr-white);
}

.u-numbers {
  font-size: 2.5em;
  font-weight: bold;
}

.main-header {
  background-color: transparent;
  position: relative;
  z-index: 1;
}

.navigation {
  padding: 2rem;
  width: min(72rem, 100%);
}
.navigation .logo img {
  display: block;
  max-width: 100%;
}
.navigation .menu {
  position: absolute;
  top: 100%;
  left: 2rem;
  right: 2rem;
  background-color: var(--clr-white);
  border-radius: 8px;
  box-shadow: 0 -1px 8px -6px black;
  margin-bottom: 1.5rem;
  overflow: hidden;
  margin: 0;
  opacity: 0;
  visibility: hidden;
  transition: opacity 300ms ease, visibility 300ms ease;
}
.navigation .menu.is-active {
  opacity: 1;
  visibility: visible;
}
.navigation .menu-link {
  color: var(--clr-gray);
  text-decoration: none;
  width: 100%;
  padding: 1.75rem 1.5rem;
  color: var(--clr-black);
  background-color: var(--clr-white);
  font-size: 1.2em;
  font-weight: bold;
}
.navigation .menu-link:not(:last-child) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.06);
}
@media only screen and (min-width: 64em) {
  .navigation .menu-link:not(:last-child) {
    margin-right: 2em;
  }
}

.menu-hamburguer {
  width: 2.5em;
  cursor: pointer;
  user-select: none;
  transition: all 0.4s ease-in;
}
.menu-hamburguer::before, .menu-hamburguer::after {
  content: "";
  width: 90%;
}
.menu-hamburguer .bar, .menu-hamburguer::before, .menu-hamburguer::after {
  display: block;
  border-radius: 5px;
  width: 100%;
  height: 3px;
  margin: 4px 0;
  background-color: var(--clr-white);
  transition: all 0.15s ease-out;
}
.menu-hamburguer .bar {
  margin: 0 auto;
}
.menu-hamburguer.is-active::before {
  transform: rotate(45deg) translate(6px, 7px);
}
.menu-hamburguer.is-active::after {
  transform: rotate(-45deg) translate(2px, -4px);
}
.menu-hamburguer.is-active > .bar {
  opacity: 0;
  visibility: hidden;
}

.overlay {
  position: fixed;
  top: 5.5625rem;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  visibility: hidden;
  background: linear-gradient(to bottom, transparent 4%, rgba(0, 0, 0, 0.5) 30%, transparent 70%, transparent 100%);
  transition: opacity 300ms ease, visibility 300ms ease;
}
.overlay.is-active {
  opacity: 1;
  visibility: visible;
}

.hero {
  overflow: hidden;
  margin-top: -5.5625rem;
  position: relative;
}
.hero source,
.hero img {
  display: block;
  max-width: 100%;
}
.hero::before {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  width: 100%;
  height: 25vh;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7) 20%, transparent 100%);
}

.featured {
  text-align: center;
  margin-top: -3.5rem;
}
.featured-content {
  position: relative;
  background-color: var(--clr-white);
  border-radius: 8px;
  box-shadow: 0 -1px 8px -6px black;
  margin-bottom: 1.5rem;
}
.featured-content h1 {
  font-size: 1.6em;
  line-height: 1.2;
}
.featured-content > img {
  margin-top: -1.75rem;
  margin-bottom: 1.75rem;
}
.featured-content h1 {
  margin-bottom: 1.5rem;
}
.featured-content p {
  margin-bottom: 1.875rem;
}
.featured-buttons {
  padding-bottom: 2.4375rem;
}
.featured-buttons a {
  font-size: 0;
  border-radius: 50%;
}
.featured-buttons a img {
  border-radius: inherit;
}

.databack {
  text-align: center;
}
.databack-content {
  background-color: var(--clr-white);
  border-radius: 8px;
  box-shadow: 0 -1px 8px -6px black;
  margin-bottom: 1.5rem;
}
.databack-content span {
  display: block;
  margin-bottom: 0.375rem;
}
.databack-content small {
  font-size: var(--font-sm);
}
.databack-content > * {
  padding: 2.25rem 0 1.5rem 0;
}
.databack-content-backed, .databack-content-backers {
  position: relative;
}
.databack-content-backed::after, .databack-content-backers::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  height: 1px;
  width: 80px;
  background-color: rgba(0, 0, 0, 0.4);
}
.databack-content-daysleft {
  padding-bottom: 2.4375rem;
}
.databack-content-daysleft small {
  display: block;
  margin-bottom: 2rem;
}
.databack-content-daysleft .bar-days {
  border-radius: 100vw;
  height: 0.75rem;
  width: 100%;
  background-color: #f4f4f4;
  position: relative;
}
.databack-content-daysleft .bar-days::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 80%;
  height: inherit;
  border-radius: inherit;
  background-color: var(--clr-cyan);
}

.about-content {
  padding-top: 2.625rem;
  padding-bottom: 2.4375rem;
  background-color: var(--clr-white);
  border-radius: 8px;
  box-shadow: 0 -1px 8px -6px black;
  margin-bottom: 1.5rem;
}
.about-content h3 {
  font-size: 1.4em;
  margin-bottom: 2rem;
}
.about-content-paragraph {
  padding: 0 0.3125rem 0 0;
}
.about-content-paragraph p:first-child {
  margin-bottom: 1.5em;
}
.about-content-paragraph p:last-child {
  margin-bottom: 2.5rem;
}
.about-content-stand-title {
  padding: 1.625rem 0;
}
.about-content-stand-title h4 {
  font-size: 1.2em;
  margin-bottom: 0.3em;
}
.about-content-stand-title h5 {
  font-size: 1.15em;
  color: var(--clr-cyan);
}
.about-content-stand-details {
  align-items: flex-start;
  padding-bottom: 1.875rem;
}
.about-content-stand-details p {
  margin-bottom: 1.875rem;
}
.about-content-stand-details p > span {
  font-size: 0.5em;
  color: var(--clr-gray);
  font-weight: normal;
  margin-left: 0.3em;
  vertical-align: middle;
}
.about-content-stand-details .btn {
  min-width: 10rem;
}
.about-content-basic, .about-content-black, .about-content-especial {
  background-color: var(--clr-white);
  border-radius: 8px;
  box-shadow: 0 -1px 8px -6px black;
  margin-bottom: 1.5rem;
}
.about-content-basic > p, .about-content-black > p, .about-content-especial > p {
  padding: 0 0.75rem 0 0;
  margin-bottom: 2.375rem;
}
.about-content-especial {
  margin-bottom: 0;
  opacity: 0.4;
}
.about-content-especial .btn {
  background-color: var(--clr-gray);
  cursor: initial;
}

/*# sourceMappingURL=style.css.map */
