.about {
  &-content {
    padding-top: 2.625rem;
    padding-bottom: 2.4375rem;
    @include box;

    h3 {
      margin-bottom: 2rem;
    }

    &-paragraph {
      padding: 0 0.3125rem 0 0;

      p:first-child {
        margin-bottom: 1.5em;
      }

      p:last-child {
        margin-bottom: 2.5rem;
      }
    }

    &-stand {
      &-title {
        padding: 1.625rem 0;

        @include mq-up(medium) {
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
        }
      }

      &-details {
        align-items: flex-start;
        padding-bottom: 1.875rem;

        @include mq-up(medium) {
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
        }

        p {
          margin-bottom: 1.875rem;

          @include mq-up(medium) {
            margin-bottom: 0;
          }
        }

        .btn {
          min-width: 10rem;
        }
      }
    }

    &-basic,
    &-black,
    &-especial {
      @include box;

      > p {
        padding: 0 0.75rem 0 0;
        margin-bottom: 2.375rem;
      }
    }

    &-especial {
      margin-bottom: 0;
      opacity: 0.4;

      .btn {
        background-color: var(--clr-gray);
        cursor: initial;
      }
    }
  }
}
