.featured {
  text-align: center;
  margin-top: -3.5rem;

  &-content {
    position: relative;
    @include box;

    h1 {
      font-size: 1.6em;
      line-height: 1.2;
    }

    > img {
      margin-top: -1.75rem;
      margin-bottom: 1.75rem;
    }

    h1 {
      margin-bottom: 1.5rem;
    }

    p {
      margin-bottom: 1.875rem;
    }
  }

  &-buttons {
    padding-bottom: 2.4375rem;

    .btn-bookmark {
      border-radius: 50%;
      text-decoration: none;
      color: var(--clr-gray);

      span {
        display: none;

        @include mq-up(small) {
          display: block;
        }
      }

      &.is-active {
        font-size: 1.1rem;
        color: var(--clr-darkcyan);
        circle {
          fill: var(--clr-darkcyan);
        }
      }

      @include mq-up(small) {
        font-size: 1.1rem;
        border-radius: 100vw;
        padding-right: 1.5rem;
        font-weight: bold;
        background-color: rgb(244, 244, 244);

        svg {
          margin-right: 1.5rem;
        }
      }
    }
  }
}
