html {
  box-sizing: border-box;
  font-size: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  line-height: 1.3;
  font-family: "Commissioner", sans-serif;
  font-weight: normal;
  font-size: var(--font-sm);

  @include mq-up(small) {
    font-size: var(--font-md);
  }

  @include mq-up(medium) {
    font-size: var(--font-lg);
  }
}

li {
  list-style: none;
}

ul {
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  padding: 0;
  margin: 0;
}

//Flex
.flex {
  display: flex;

  &-jc-sb {
    justify-content: space-between;
  }

  &-jc-c {
    justify-content: center;
  }

  &-ai-c {
    align-items: center;
  }

  &-fd-c {
    flex-direction: column;
  }
}

//Visibility
.hide-for-mobile {
  //max-width
  @include mq-down(medium) {
    display: none;
  }
}

// min-width
.hide-for-desktop {
  @include mq-up(medium) {
    display: none;
  }
}

//Max-width of the Content in Mobile (margin)

//Utilities
.u-wrapper {
  padding: 0 1.5em;
}

.u-copy {
  line-height: 1.8;
  color: var(--clr-gray);
}

//Buttons
.btn {
  padding: 1.1875rem 0;
  width: 14rem;
  display: inline-block;
  border-radius: 100vw;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
}

.btn-primary {
  background-color: var(--clr-cyan);
  color: var(--clr-white);
}

//Size of numbers
.u-numbers {
  font-size: 2.5em;
  font-weight: bold;
}
