.main-header {
  background-color: transparent;
  position: relative;
  z-index: 1;
  max-width: 69rem;
  margin: 0 auto;
}

.navigation {
  padding: 2rem;
  width: min(72rem, 100%); // 1152px (1200px-24px)

  @include mq-up(medium) {
    padding: 3rem;
  }

  .logo img {
    display: block;
    max-width: 100%;
  }

  .menu {
    position: absolute;
    top: 100%;
    left: 2rem;
    right: 2rem;
    @include box;
    overflow: hidden;
    margin: 0;
    opacity: 0;
    visibility: hidden;
    transition: opacity 300ms ease, visibility 300ms ease;

    &.is-active {
      opacity: 1;
      visibility: visible;
    }

    @include mq-up(medium) {
      position: initial;
      opacity: 1;
      visibility: visible;
      flex-direction: row;
      background-color: transparent;
      box-shadow: initial;
    }

    &-link {
      color: var(--clr-gray);
      text-decoration: none;
      width: 100%;
      padding: 1.75rem 1.5rem;
      color: var(--clr-black);
      background-color: var(--clr-white);
      font-size: 1.2em;
      font-weight: bold;

      &:not(:last-child) {
        border-bottom: 1px solid rgba(0, 0, 0, 0.06);
      }

      @include mq-up(medium) {
        padding: 0;
        font-size: 1em;
        font-weight: normal;
        overflow: initial;
        width: fit-content;
        background-color: transparent;
        color: var(--clr-white);

        &:not(:last-child) {
          border-bottom: none;
          margin-right: 2em;
        }
      }
    }
  }
}

.menu-hamburguer {
  width: 2.5em;
  cursor: pointer;
  user-select: none;
  transition: all 0.4s ease-in;

  &::before,
  &::after {
    content: "";
    width: 90%;
  }

  .bar,
  &::before,
  &::after {
    display: block;
    border-radius: 5px;
    width: 100%;
    height: 3px;
    margin: 4px 0;
    background-color: var(--clr-white);
    transition: all 0.15s ease-out;
  }

  .bar {
    margin: 0 auto;
  }

  &.is-active::before {
    transform: rotate(45deg) translate(6px, 7px);
  }

  &.is-active::after {
    transform: rotate(-45deg) translate(2px, -4px);
  }

  &.is-active > .bar {
    opacity: 0;
    visibility: hidden;
  }
}

.overlay {
  position: fixed;
  top: 5.5625rem;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  visibility: hidden;
  background: linear-gradient(to bottom, transparent 4%, rgba(0, 0, 0, 0.5) 30%, transparent 70%, transparent 100%);
  transition: opacity 300ms ease, visibility 300ms ease;

  &.is-active {
    opacity: 1;
    visibility: visible;
  }
}
