.hero {
  overflow: hidden;
  margin-top: -5.5625rem;
  position: relative;

  @include mq-up(medium) {
    margin-top: -8.625rem;
  }

  source,
  img {
    display: block;
    width: 100%;
    max-width: 100%;
  }

  &::before {
    content: "";
    position: absolute;
    display: block;
    top: 0;
    width: 100%;
    height: 25vh;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7) 20%, transparent 100%);
  }
}
