:root {
  --clr-cyan: hsl(176, 50%, 47%);
  --clr-darkcyan: hsl(176, 72%, 28%);
  --clr-black: hsl(0, 0%, 0%);
  --clr-gray: hsl(0, 0%, 48%);
  --clr-white: hsl(0, 0%, 100%);
  --font-sm: 0.875rem; //14px
  --font-md: 1rem; //16px
  --font-lg: 1.125rem; //18px
}
